{% extends 'base.html.twig' %}
{% block body %}
<h1 class="h4">Auditoría reglas fiscales</h1>
<form class="row g-2 mb-3" method="get"><div class="col-md-3"><input type="date" name="from" value="{{ from }}" class="form-control"></div><div class="col-md-3"><input type="date" name="to" value="{{ to }}" class="form-control"></div><div class="col-md-3"><select name="action" class="form-select"><option value="">Todas</option>{% for a in ['CREATED','UPDATED','TOGGLED','DELETED'] %}<option value="{{ a }}" {{ action==a?'selected':'' }}>{{ a }}</option>{% endfor %}</select></div><div class="col-md-3"><button class="btn btn-primary">Filtrar</button></div></form>
<table class="table table-sm"><tr><th>Fecha</th><th>Usuario</th><th>Acción</th><th>Regla</th><th>Detalle</th></tr>{% for l in logs %}<tr><td>{{ l.createdAt|date('d/m/Y H:i') }}</td><td>{{ l.user ? l.user.fullName : '-' }}</td><td>{{ l.action }}</td><td>{{ l.ruleName }}</td><td><details><summary>Ver cambios</summary><pre class="small">{{ l.beforeData|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre><pre class="small">{{ l.afterData|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></details></td></tr>{% else %}<tr><td colspan="5">Sin logs.</td></tr>{% endfor %}</table>
{% endblock %}
