{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.fullName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.role) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.posNumber) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.ticketPaperSize) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.plainPassword) }}
        </div>
    </div>
    <div class="card border-0 shadow-sm mt-3">
        <div class="card-body">
            <div class="fw-semibold mb-2">Facturación ARCA</div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.arcaEnabledForThisCashier) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.arcaMode) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.arcaPosNumber) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.arcaAutoIssueInvoice) }}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end gap-2 mt-3">
        <a href="{{ path('app_user_index') }}" class="btn btn-outline-secondary">Cancelar</a>
        <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
    </div>
{{ form_end(form) }}
